@model CompanyNews[]

@{
  var companyNews = Model;
}


@if (companyNews != null && companyNews.Length > 0)
{
  <div class="company-news-section">
    <h2>Company News</h2>
    <ul class="news-list">
      @foreach (var x in companyNews)
      {
        var featuredCompanies = x.FeaturedTickers.OrderBy(x => x).ToArray();

        <li class="news-item">
          <div>
            <div class="news-title"> <a href="@x.Url" target="_blank" rel="noopener noreferrer"><span>@x.Title</span></a>
            </div>
            <p style="display: none">@x.Description</p>
            <div style="@(featuredCompanies.Length == 0 ? "" : "margin-bottom: 10px")">@x.Publisher</div>
            @if (featuredCompanies.Length > 0)
            {
              <div class="news-meta">
                <span>Featured Companies:</span>
                @foreach (var z in featuredCompanies)
                {
                  <a href="/@z.ToLower()" class="featured-ticker">@z</a>
                }
              </div>
            }
          </div>

        </li>
      }
    </ul>
  </div>
}