@model Company

@{
  var companyName = Model.Name;
  var companyDescription = Model.Description;
  var companyTicker = Model.Ticker;
  var companyLogoSrc = $"/imgs/company-logo/{companyTicker}.png";
  string? companyAddress = Model.Address;
  string? companyPhone = Model.Phone;
  string? companyWebsite = Model.WebsiteUrl;
  CompanyDividendYield? divyield = Model.DivYield;

  <div class="company-header-section">
    <img src="@companyLogoSrc" alt="@companyName Logo" class="company-logo" />
    <h1 class="company-name"><span>@companyName</span> (<span
        class="company-ticker">@companyTicker</span>) Dividend History</h1>
    <p class="company-description">@companyDescription</p>

    @if (companyAddress != null || companyPhone != null || companyWebsite != null)
    {
      <div class="company-contact-info-simple">
        @if (companyAddress != null)
        {
          <span>@companyAddress</span>
          <br />
        }
        @if (companyPhone != null)
        {
          <span>Phone: <span>@companyPhone</span></span>

          <br />
        }
        @if (companyWebsite != null)
        {
          <span>Website: <a href="@companyWebsite" target="_blank" rel="noopener noreferrer"
            >@companyWebsite</a></span>
        }
      </div>
    }

@if(divyield != null) {
  <div class="company-dividend-highlight">
  <div class="highlight-item"><span class="highlight-label">Dividend Yield:</span> @divyield.Yield.ToString("F2")%</div>
  @if(divyield.Frequency != null) {
    <div class="highlight-item"><span class="highlight-label">Dividend Frequency:</span> @divyield.Frequency</div>
  }
</div>
}


  </div>
}