@model Company

@{
  var companyDividends = Model.Dividends;
  var companyName = Model.Name;

  string? yearsDividendPayedStatement = null;
  if (companyDividends != null && companyDividends.Length == 1)
  {
    yearsDividendPayedStatement = $"{companyName} paid a single dividend of ${companyDividends[0].Amount.ToString("F2")} per share on {companyDividends[0].DividendPayDate.ToString("MMMM dd, yyyy")}";
  }
  if (companyDividends != null && companyDividends.Length > 1)
  {
    var yearDiff = companyDividends[0].DividendPayDate.Year - companyDividends[companyDividends.Length-1].DividendPayDate.Year;
    if(yearDiff == 0) yearsDividendPayedStatement = $"{companyName} paid {companyDividends.Length} dividends to date";
    if(yearDiff == 1) yearsDividendPayedStatement = $"{companyName} has payed out {companyDividends.Length} dividends over a period of about a year";
    if(yearDiff > 1) yearsDividendPayedStatement = $"{companyName} has payed out {companyDividends.Length} dividends over a period of {companyDividends[0].DividendPayDate.Year - companyDividends[companyDividends.Length-1].DividendPayDate.Year} years";
  }


  if (companyDividends != null)
  {
    <div class="dividends-table-section">
      <h2>Dividend History</h2>
      @if (yearsDividendPayedStatement != null)
      {
        <p>@yearsDividendPayedStatement</p>
        <table class="dividends-table">
          <thead class="dividends-table-header">
            <tr>
              <th>Pay Date</th>
              <th>Amount</th>
              <th>Ex Dividend Date</th>
              <th>Record Date</th>
            </tr>
          </thead>

          <tbody class="dividends-table-body">
            @for (int i = 0; i < companyDividends.Length; i++)
            {
              var x = companyDividends[i];
              if (i > 5)
              {
                <tr class="dividends-table-row hidden-div" style="display: none;">
                  <td>@x.DividendPayDate.ToString("MMMM dd, yyyy")</td>
                  <td>$@x.Amount.ToString("F2")</td>
                  <td>@x.ExDividendDate.ToString("d")</td>
                  <td>@x.DividendRecordDate.ToString("d")</td>
                </tr>
              }
              else
              {
                <tr class="dividends-table-row">
                  <td>@x.DividendPayDate.ToString("MMMM dd, yyyy")</td>
                  <td>$@x.Amount.ToString("F2")</td>
                  <td>@x.ExDividendDate.ToString("d")</td>
                  <td>@x.DividendRecordDate.ToString("d")</td>
                </tr>
              }
            }
          </tbody>
        </table>

        @if (companyDividends.Length > 5)
        {
          <div id="showmore" style="color: blue; margin-top: 10px; cursor: pointer">Show more</div>
        }

        <script>

          const sm = document.getElementById("showmore");
          sm.addEventListener("click", ShowAllDivs);
          let action = "sm";

          function ShowAllDivs() {
            const hiddenDivs = document.getElementsByClassName("hidden-div");

            if (action === "sm") {
              for (i = 0; i < hiddenDivs.length; i++) {
                hiddenDivs[i].style.display = "";
              }
              sm.innerText = "Show Less"
              action = "sl"
            }
            else {
              for (i = 0; i < hiddenDivs.length; i++) {
                hiddenDivs[i].style.display = "none";
              }
              sm.innerText = "Show More"
              action = "sm"
            }


          }
        </script>
      }
      else
      {
        <p><strong>@companyName currently does not pay dividends</strong></p>
      }
    </div>
  }
}