@page "/{ticker}"
@model CompanyProfileModel

@section Ad {
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4106301283765460"
    crossorigin="anonymous"></script>
}

@section Styles {
  <link rel="stylesheet" href="~/css/companypage.css" asp-append-version="true" />
}

@section JSONLD {
  @if (Model.Company != null && Model.Company.CorporationJSONLD != null)
  {
    <script type="application/ld+json">@Html.Raw(@Model.Company.CorporationJSONLD)</script>
  }
  @if (Model.Company != null && Model.Company.CompanyNewsJSONLD != null && Model.Company.CompanyNewsJSONLD.Length > 0)
  {
    foreach (var x in Model.Company.CompanyNewsJSONLD)
    {
      <script type="application/ld+json">@Html.Raw(x)</script>
    }

  }
}

@{
  var company = Model.Company;
}

@if (company != null)
{
  @section Meta {
    <title>@company.Name (@company.Ticker) Dividend History</title>
    <meta name="description"
      content="View the complete dividend history, payout dates, and recent news for @company.Name (@company.Ticker)." />
    <meta name="keywords"
      content="@company.Name, @company.Ticker, @company.Ticker dividend, @company.Ticker dividend history, @company.Name news" />

    <meta property="og:title" content="@company.Name (@company.Ticker) Dividend History" />
    <meta property="og:description"
      content="View the complete dividend history, payout dates, and recent news for @company.Name (@company.Ticker)." />
    <meta property="og:image" content="https://dividendspot.com/imgs/company-logo/(@company.Ticker).png" />
    <meta property="og:url" content="https://dividendspot.com" />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="@company.Name (@company.Ticker) Dividend History" />
    <meta name="twitter:description"
      content="View the complete dividend history, payout dates, and recent news for @company.Name (@company.Ticker)." />
    <meta name="twitter:image" content="https://dividendspot.com/imgs/company-logo/(@company.Ticker).png" />
  }
}


@if (company == null)
{
  <p class="error-message">There was an error while getting company profile data</p>
}
else
{
  var companyNews = company.CompanyNews;
  var relatedCompanies = company.RelatedCompanies;
  var companyDividends = company.Dividends;

  <partial name="_Search" model="@company" />
  <div class="company-profile-container">
    <partial name="_CompanyHeader" model="@company" />
    <partial name="_DividendsTable" model="@company" />
    <partial name="_DividendsSummary" model="@company" />
    <partial name="_CompanyNews" model="@companyNews" />
    <partial name="_RelatedCompanies" model="@relatedCompanies" />
    <span style="color: grey">Dividend data last updated @company.PageLastUpdated UTC</span>
  </div>
}