@page "/{ticker}"
@model CompanyProfileModel

@section Styles {
  <link rel="stylesheet" href="~/css/companypage.css" asp-append-version="true" />
}

@section JSONLD {
  @if (Model.Company != null && Model.Company.CorporationJSONLD != null)
  {
    <script type="application/ld+json">@Html.Raw(@Model.Company.CorporationJSONLD)</script>
  }
  @if (Model.Company != null && Model.Company.CompanyNewsJSONLD != null && Model.Company.CompanyNewsJSONLD.Length > 0)
  {
    foreach (var x in Model.Company.CompanyNewsJSONLD)
    {
      <script type="application/ld+json">@Html.Raw(x)</script>
    }
  }
}

@{
  var company = Model.Company;
}

@if (company != null)
{
  @section Meta {
    @if (company.Name.Length < 60)
    {
      <title>@company.Name (@company.Ticker) Dividend History</title>
      <meta name="description"
        content="View the complete dividend history, payout dates, and recent news for @company.Name (@company.Ticker)." />
      <meta property="og:title" content="@company.Name (@company.Ticker) Dividend History" />
      <meta property="og:description"
        content="View the complete dividend history, payout dates, and recent news for @company.Name (@company.Ticker)." />
      <meta name="twitter:title" content="@company.Name (@company.Ticker) Dividend History" />
      <meta name="twitter:description"
        content="View the complete dividend history, payout dates, and recent news for @company.Name (@company.Ticker)." />
    }
    else
    {
      <title>@company.Ticker Dividend History</title>
      <meta name="description"
        content="View the complete dividend history, payout dates, and recent news for @company.Ticker." />
      <meta property="og:title" content="@company.Ticker Dividend History" />
      <meta property="og:description"
        content="View the complete dividend history, payout dates, and recent news for @company.Ticker." />
      <meta name="twitter:title" content="@company.Ticker Dividend History" />
      <meta name="twitter:description"
        content="View the complete dividend history, payout dates, and recent news for @company.Ticker." />
    }

    <meta name="keywords"
      content="@company.Name, @company.Ticker, @company.Ticker dividend, @company.Ticker dividend history, @company.Name news" />


    <meta property="og:image" content="https://dividendspot.com/imgs/company-logo/@(company.Ticker).png" />
    <meta property="og:url" content="https://dividendspot.com/@company.Ticker.ToLower()" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://dividendspot.com/imgs/company-logo/@(company.Ticker).png" />
    <link rel="canonical" href="https://dividendspot.com/@company.Ticker.ToLower()" />
  }
}


@if (company == null)
{
  <p class="error-message">There was an error while getting company profile data</p>
}
else
{
  var companyNews = company.CompanyNews;
  var relatedCompanies = company.RelatedCompanies;
  var companyDividends = company.Dividends;

  <partial name="_Search" model="@company" />
  <div class="company-profile-container">
    <partial name="_CompanyHeader" model="@company" />
    <partial name="_DividendsTable" model="@company" />
    <partial name="_DividendsSummary" model="@company" />
    <partial name="_CompanyNews" model="@companyNews" />
    <partial name="_RelatedCompanies" model="@relatedCompanies" />
    <div style="margin-top: 75px;">
      <span style="color: grey; display: block">Page data last updated @company.PageLastUpdated UTC</span>
      @if (company.DivYield != null)
      {
        <span style="color: grey; display: block">Dividend yield is calculated using only dividends that have already been
          paid. Future or declared dividends are not included</span>
      }
    </div>
  </div>
}